{% extends "base.html" %}
{% block title %}Faste varer{% endblock %}
{% block content %}
<h2>Faste varer</h2>

<div class="menu-grid">
  {% for v in varer %}
  <article class="card">
    <img class="card__img card__img--varer"
         src="{{ url_for('static', filename=v.bilde) }}"
         alt="{{ v.navn }}">
    <div class="card__body">
      <div class="card__title">{{ v.navn }}</div>
      <div class="card__price">{{ v.pris }} kr</div>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}



